.buttonGet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonGet button {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  width:250px;
  white-space: nowrap;
}

.buttonGet input{
  width:250px
}


.weather-container {
  margin:10px;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.start {
  width: 40px;
  height: 40px;
  stroke: gold;
  fill: transparent;
  transition: fill 0.4s ease-in-out;
  cursor: pointer;
}

.start.favorite {
  fill: gold;
}


.weather-card {
  margin-bottom:15px;
  min-width: 300px;
  min-height:480px;
  width:100%;
  max-width:400px;
  overflow: hidden;
  background: linear-gradient(135deg,rgb(58, 140, 255),rgb(198, 237, 240));
  color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.favorite-star{
  display: inline-flex;
  font-size: 20px;
  cursor: pointer;
  height: auto;
  width: auto;
  margin-bottom:5px;
}


.location {
  text-align:center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.location-name-city{
  text-align:center;
}

.temperature {

  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0;
}

.description {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-style: italic;
}

.weather-details {
  font-size: 1rem;
  margin-top: 15px;
}

.weather-details p {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 8px;
  margin:12px;
}

.material-symbols-outlined {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}





/* ---------------------------------------------------------- */

.forecast-container {
  min-height: 480px;
  min-width: 300px;
  background: linear-gradient(135deg, #307AFF, #78C1F3);
  color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.forecast-container h2 {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: start;
  gap: 5px;
  justify-content: center;
}


.forecast-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.forecast-date {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  width:40%;
}

.forecast-icon img {
  width: 30px;
  height: 30px;
}

.forecast-info{
  justify-content:end;
  width:33%;
  display:flex;


}

.forecast-item:last-child {
  border-bottom: none;
}


.weather-icon {
  width: 25px;
  height: 25px;
}


.temp-bar {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 50%;
  margin-top: 5px;
  gap: 10px;
}

.forecast-progress {
  display: flex;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 150px;
  position: relative;
}

.temp-min,
.temp-max {
  font-size: 14px;
  font-weight: bold;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, #4fc3f7, #ff7043);
  transition: width 0.3s ease-in-out;
}
