/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(80%); /* Ajusta el brillo para mejor visibilidad */
}

html, body {
  font-family: 'SF Pro Display', sans-serif!important;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  width: 100%;
  background-color: #2C3E50; /* Ajusta según tu diseño */
  color: white;
  text-align: center;
  padding: 10px;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('assets/fonts/SF-Pro.ttf') format('truetype'),
       url('assets/fonts/SF-Pro-Display-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
