/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la pantalla */
    margin: 0;
}


body {
  background: linear-gradient(to bottom, #87CEEB, #f0f8ff); /* Azul cielo */
  overflow: auto;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
