<div class="container-fluid mt-4 d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 mb-3">
  <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="searchFavorites()" placeholder="Buscar ciudad...">

</div>


<div class="container favorites-container">
  <div *ngIf="favorites.length > 0">
    <h3>Ciudades Favoritas</h3>
    <ul>
      <li *ngFor="let city of filteredFavoritesList; trackBy: trackByFn">
        {{ city }} <button (click)="removeFavorite(city)">❌</button>
        <button (click)="getClima(city)">Ver Clima</button>
      </li>
    </ul>
  </div>
  <div *ngIf="favorites.length === 0" class="no-favorites">
    No tienes ciudades favoritas aún
  </div>
</div>
